<div class="about-me">
    <div class="header">
        <span>Career</span>
    </div>
    <div>
        <div class="career">
            <span>
                Welcome to my website! I am a 
                recent graduate of Bucknell University (2022). I am currently a 
                .NET developer for Effectv Engineering. 
            </span>
            <div class="bucknell"></div>
        </div>
        <div class="career">
            <div class="effectv"></div>
            <span>
                This position has exposed me to a true 
                Microsoft stack of SQL Server, Entity Framework, and .NET. While also exposing me 
                to various features of Microsoft Azure and specifically SaaS applications including 
                Dynamics 365. In addition I have had the opportunity to grow my expertise in front end 
                frameworks with Angular, which is what this site was built on.
            </span>
            <div class="effectv-mobile"></div>
        </div>
    </div>
    <div class="header"><span>Personal Life</span></div>
    <div>
        <span>
            Besides work I am constantly looking for new ways to improve my physical health and wellness. As someone who wrestled in High School and played rugby in College, I am always active with athletics and weightlifting. I love the challenge of trying new techniques, and something I have just started is simulated high altitude training and cold exposure training.  Two books 
            I have read recently in regards to this that I would recommend are <i>The Oxygen Advantage</i> and 
            <i>The Wim Hof Method</i>. As someone who was always active with athletics and weightlifting, 
            I wrestled in highschool, and played Rugby in college, I firmly believe that physical wellness is the first 
            place to start in improving all aspects of life.
        </span>
        <div class="rugby-imgs">
            <div class="rugby1"></div>
            <div class="rugby2"></div>
            <div class="rugby3"></div>
        </div>
        <div class="kayak-area">
            <span>
                I also have always had a love for music and the outdoors. I have played 
                various instruments over the years including the viola, trumpet, saxophone, 
                but now I mostly play guitar. I am also an avid learner of music theory and enjoy 
                playing with those who know just a little more than myself. In terms of outdoors I 
                love camping, fishing, hiking, kayaking, and essentially everything outside. In a career where 
                most of my time is spent at a computer, I love the opportunity to get out in nature.
            </span>
            <div class="kayak-img"></div>
        </div>
    </div>
</div>
