.img-container{
    display: flex;
    justify-content: space-around;
}
.img1, .img2{
    height: 300px;
    width: 451px;
    background-size: cover;
}
.img1{
    background-image: url('/assets/images/chess1.png');

}
.img2{
    background-image: url('/assets/images/chess2.png');

}