.main-container{
    display:flex;
    justify-content: space-between;
    background-image: url('/assets/images/main2.jpg');
    background-size:cover;
    height: 650px;
    .text-section{
        display: flex;
        justify-content: right;
        align-items: center;
        width: 600px;
        .text-background{
            border-radius: 21px;
            width: 200px;
            height: 150px;
            background-color: white;
            opacity: 62%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >span{
                margin: 4px;
            }
        }
    }
    .homePhoto{
        height: 100%;
        width: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        .myPhoto{
            height: 400px;
            width: 400px;
            border-radius: 20px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;    
            background-image: url('/assets/images/my-photo.jpg');
        }
    }
}
@media only screen and (max-width: 768px) {
    .main-container{
        align-items: center;
        height: 400px; 
    }
    .text-section{
        width: 150px !important;
        margin: 10px;
    }
    .myPhoto{
        height: 200px !important;
        width: 200px !important;
    }
    
}
