.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .nameSpace{
        font-size: 35px;
    }
    div{
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        >div{
            >span{
                *{
                    font-family: "Josefin Sans";                    ;
                    text-decoration: none;
                    color: black;
                    font-size: 20px;
                }
                #true:first-child{
                    color: #6c68fc !important;
                 }
            }
        }
        

    }
}
@media only screen and (max-width: 768px) {
    .navigator{
        flex-direction: column !important;
        > div{
            flex-direction: column !important;
            div{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 15px    }
        }
    }
    
}